RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https 
RewriteBase /mobileWallet/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]
SetEnvIfNoCase Request_URI ^ / thumb.php no-gzip -vary